.character
{
  border: 2px;
  border-color: #385455;
  border-style: solid;
  border-radius: 3px;
  font-size: 2.5em;
  min-width: 40px;
  text-align: center;
  margin: 2px;
  cursor: pointer;

  &.unclicked
  {
    background: #F5F1E1;

    &:hover{
      background: #D09752;
      box-shadow: 5px 5px 2px #385455;
    }
  }

  &.clicked
  {
    background-image: url(assets/images/pop.svg);
    background-repeat: no-repeat;
    background-size: auto;
    color: transparent;
    cursor: default;
  }
}
